.pizza {
  border-radius: 50%;
  margin: auto;
  width: 20%;
  height: auto;
  display: block;
  clear: both;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#total {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}