.pizza {
  border-radius: 50%;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  clear: both;
}

.heading {
  padding: 30px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
  /* box-sizing: border-box; */
}